
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Book Collection</title>
    <link href="./styles/base.css" rel="stylesheet" type="text/css" />
    <link href="./styles/layout.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <main>
      <h4>My Book Collection</h4>
      <% books.forEach(book => { %>
        <li><%= book.title %></li>
        <p>Author: <%= book.authors %></p>
        <img src="<%= book.image %>" />
        <p class="description">Description: <%= book.description %></p>
        <% }); %>
    </main>
  </body>
</html>