<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <link href="./styles/reset.css" rel="stylesheet" type="text/css" />
    <link href="./styles/base.css" rel="stylesheet" type="text/css" />
    <link href="./styles/layout.css" rel="stylesheet" type="text/css" />
    
  </head>
  <body>
    <main>
      <h4 id="searchTitle">Search by Title or Author</h4>
      <form action="/searches" method="post">
        <input class="searchTop" type="text" name="search" placeholder="Enter a title or author" required>
        <fieldset class="search">
          <label class="getBetter" for="title">
            <span class="getBetter">Title</span>
            <input type="radio" name="search" value="title" required>
          </label>
        </fieldset>
        <fieldset class="search">
          <label class="getBetter" for="author">
            <span class="getBetter">Author</span>
            <input type="radio" name="search" value="author" required>
          </label>
        </fieldset>
        <button id="searchButton" type="submit">Search the Google Books API</button>
      </form>
      <section>
        <!-- <ul>
          <% bookArray.forEach(book =>{ %>
            <li><%= book.title %></li>
            <li><%= book.author %></li>
            <li class="book-detail"><a href='/books/<%= book.id %>'>more details</a></li>
            <li>Total Books : <%= bookArray.length %></li>
         <%  }) %>
        </ul> -->
      </section>
    </main>
  </body>
</html>