*{
    background-color: burlywood;
    display: grid;
    margin:auto;
    text-align: center;
}

img{
    margin:auto;
    height: 1fr;
    width: 1fr;
}

p {
    word-wrap: normal;
    margin: 5px;
    
}