
img{
    margin:auto;
    height: 1fr;
    width: 1fr;
    margin:auto;
    text-align: center;
}

p {
    word-wrap: normal;
    margin: 5px;
    margin:auto;
    text-align: center;
}

.description{
    width: 40%;
    justify-self: center;
    margin-top: 3em;
    border: 1px solid black;
    margin:auto;
    text-align: center;
}

h4 {
    font-weight: bold;
    font-size: 4em;
    margin:auto;
    text-align: center;
    font: #401d12;
}

li{
    font-size: 2em;
    font-family: cursive;
    margin-top: 3em;
    margin:auto;
    text-align: center;
    border-radius: 1em;
   
}
#detailsPage{
    justify-self: center;
    font-size: 3em;
    font-family: monospace;
}

.details{
    margin: 1em;
}

.getBetter {
    background-color: #d9ae7a;
    color: black;
}

.search{
    height: 3em;
    width: 40%;
    border-radius: 1em;
    justify-self: center;
    margin: 2em;
    background-color: #d9ae7a;
}
.searchTop{
    height: 3em;
    width: 40%;
    border-radius: 1em;
    justify-self: center;
    margin: 2em;
    background-color: #f0d4a2
}
#searchTitle {
    background-color: #702513;
    width: 100%;
    color: #dfd0b7;
}

#searchButton {
    color: white;
    width: 30%;
    margin: auto;
    text-align: center;
    background-color:#401d12;
    height: 3em;
    border-radius: 1em;
}
